
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Favorite</title>
    @Styles.Render("~/Styles/favpage.css")
</head>
<body>
    <div>
        <h1>Cho chúng tôi biết mong muốn của bạn</h1>
    </div>
    <h4>Các mục mà bạn chưa thích</h4>
    <h6>Để DealAssist giúp bạn tốt hơn, hãy cố gắng chọn chỉ những mục mà bạn thích nhất</h6>
    <div class="boxes">
        @{
            for (int i = 0; i < ViewBag.nonfavlist.Count; i++)
            {
                if (i == 6)
                {
                    <br />
                }
                try
                {
                    <div class="datacontainer">
                        <a href='@Url.Action("addFav", "HomePage", new { choosen = ViewBag.nonfavlist[i]})'>
                            <img class="imgca" src="~/@ViewBag.nonfavlistimg[i]" /><br />
                            <text class="titleca">@ViewBag.nonfavlist[i]</text>
                        </a>
                    </div>
                }
                catch(Exception e)
                {
                    break;
                }

            }
        }
    </div>
    <h4>Các mục mà bạn đã thích</h4>
    @{
        for (int i = 0; i < ViewBag.showfavlist.Count; i++)
        {
            if (i == 6)
            {
                <br />
            }
            <div class="datacontainer">
                <a href=''>
                    <img class="imgca" src="~/@ViewBag.showfavlistimg[i]" /><br />
                    <text class="titleca">@ViewBag.showfavlist[i]</text>
                </a>
            </div>
        }
    }
    <input type="submit" onclick="parent.location='@Url.Action("Index", "HomePage")'" />
</body>
</html>