@using DealAssistDemo2.Models
@using DealAssistDemo2.Controllers
@{
    Layout = "~/Views/Shared/defaultHome.cshtml";
}
<div class="firstpart">
    <div class="blankspace1"></div>
    <div class="catalogborder">
        <div class="catalog">
            @Html.ActionLink("Đồ công nghệ & phụ kiện", "cataTech")<br/>
            @Html.ActionLink("Thiết bị gia dụng & đồ bếp", "cataTV")<br />
            @Html.ActionLink("Thời trang", "cataFashion")<br />
            @Html.ActionLink("Sức khỏe & làm đẹp", "cataHealth")<br />
            @Html.ActionLink("Hàng tạp hóa", "cataGro")<br />
            @Html.ActionLink("Phương tiện & Thiết bị định vị", "cataTrans")
        </div>
    </div>
    <div class="label1">
        <div class="labelborder">
            <text class="label1txt">
                Dựa Trên Mối Quan Tâm Của Bạn*
            </text>
        </div>
        <div class="mainlysuggest">
            <img style="height:50vh;width:60vw" src="~/Assets/Picture/54790b2c-6b84-4f43-944a-a569ae0d0b90.jpg.w960.jpg" />
        </div>
    </div>
    <div class="blankspace1"></div>
</div>    
<br />
<div class="label2">
    <text class="label2txt">
        Sản Phẩm Có Thể Bạn Đang Thích
    </text>
</div>
<div class="secondpart">
    <div class="databorder">
        <ul class="maindataul">
            @{
                if (ViewBag.sanpham != null)
                {
                    for (int i = 0; i < ViewBag.sanpham.Count && i < 4; i++)
                    {
                        <li class="datali">
                            <a style="text-decoration:none;" href="@Url.Action("Product_table","HomePage", new {product_name = ViewBag.sanpham[i]})">
                                <img class="liimg" src="@ViewBag.urlimage[i]" />
                                <text style="text-decoration:none;">@ViewBag.sanpham[i]</text>
                            </a>
                        </li>
                    }
                }
            }
        </ul>
    </div>
</div>
